input{
    font-size: 15px;
}

.container{
    margin: 220px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
  justify-content: center; 
  list-style: none;
  padding: 0;
}
li {
    padding-bottom: 2px;
    font-size: 20px;
    text-align: center;
}