body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #2f1554;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: azure;
}

.input-add{
  display: flex;
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  font-weight: 900;
  color: #2f1554;
  font-size: 14px;
}

button{
  padding: 10px 20px;
  width: auto;
  cursor: pointer;
  color: #2f1554;
  background-color: azure;
  font-weight: 900;
  border-radius: 6px;
  transition: background-color 0.3s ease, width 1s ease-out;

}

button:hover{
  background-color: #754cb0;
  transform: scale(1.05); 
  box-shadow: 0 6px 15px rgba(0,0,0,0.3); 
}

ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: azure;
  font-weight: 900;
}

li button{
    margin: 10px;
    align-items: center;
}